.App {
  text-align: center;
}

.page {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;

}

.btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 30%;
  margin: 0 auto;
}


.btn {
  border-radius: 5px;
  min-width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  background: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.theme-btn {
  border: 0.1rem solid blueviolet;
  background: none;
  color: blueviolet;
}

.theme-btn:hover {
  border: 0.1rem solid blueviolet;
  background: blueviolet;
  color: white
}

.danger-btn {
  border: 0.1rem solid #f5494a;
  background: #f5494a;
  color: white
}

.message {
  display: flex;
  position: fixed;
  top: 7.5rem;
  background: rgba(137, 43, 226, 0.565);
  height: 3rem;
  min-width: 15rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
  font-weight: 900;
  justify-content: center;
  color: white;
  right: -100%;
  transition: 0.5s right ease;
}

.message.show {
  right: 1rem;
}

.success {
  background-color: green
}

.failure {
  background-color: red;
}