.App {
  text-align: center;
}

.page {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;

}

.theme-btn {
  border-radius: 5px;
  min-width: 8rem;
  height: 3rem;
  border: 0.1rem solid blueviolet;
  font-size: 1.2rem;
  background: none;
  color: blueviolet;
}

.theme-btn:hover {
  border-radius: 5px;
  min-width: 8rem;
  height: 3rem;
  border: 0.1rem solid blueviolet;
  font-size: 1.2rem;
  background: blueviolet;
  color: white
}